<!--
  Generated template for the Buyout page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>buyout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Your Order Is:</h1>
  <p>Name: {{productData.name}}</p>
  <p>Quantity: {{productData.quantity}}</p>
  <button ion-button (click)="onConfirmPurchases()">BUY</button>
</ion-content>
