<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic 2 Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="onGoToUsers()">Users</button>
  <button ion-button (click)="onGoToShop()">Go To Shop</button>
</ion-content>
