<ion-header>
  <ion-navbar>
    <ion-title>Shop</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button (click)="onGoToByuout({name: 'Milk', quantity:'2'})">Milk</button>
  <button ion-button (click)="onGoToByuout({name: 'Bread', quantity:'1'})">Bread</button>
  <button ion-button (click)="onGoToByuout({name: 'Honey', quantity:'2'})">Honey</button>
  <button ion-button (click)="onGoToByuout({name: 'Coffee', quantity:'5'})">Coffee</button>

</ion-content>
