<!--
  Generated template for the Users page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>The Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="onLoadUser('Abdullah')">User 'Abdullah'</button>
  <hr>
  <button ion-button (click)="onLoadUser('Ahmad')">User 'Ahmad'</button>
</ion-content>

<ion-footer padding>
  <p>The Footer</p>
</ion-footer>
